* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    min-height: 100%;
    background: #040404;
    position: absolute;

}
.panel-top {
    max-width: 100%;
    height: 128px;
    display: flex;
    margin-left: 144px;
}

.panel-general {
    width: 1200px;
    height: 550px;
    display: flex;
    margin-left: 144px;
}

.panel-left {
    width: 450px;
    height: 550px;
    display: flex;

}

.panel-right {
    width: 750px;
    height: 550px;
}

.panel-area-1 {
    width: 750px;
    height: calc(550px - 33.33%);
    padding: 4px;
}

.panel-area-2 {
    width: 750px;
    height: calc(550px - 66.66%);
    padding: 4px;

}

.title {
    color: white;
    font-family: 'Roboto';
}

.title-related {
    color: white;
    font-family: 'Oxygen';
    letter-spacing: 1px;

}

.classificacao {
    font-size: 14px;
    font-family: 'Oxygen';
    color: gray;
    margin-top: 8px;
    word-spacing: 12px;
}

.menu {
    color: gray;
    list-style-type: none;
    text-decoration: none;
    margin-top: 48px;
    font-family: 'Oxygen';
    letter-spacing: 2px;

}

.descricao {
    color: white;
    margin-top: 48px;
    font-family: 'Oxygen';
    letter-spacing: 1px;

}

a:link {    
    color: gray;
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

.menu a:hover {
    text-decoration: none ;
    color: white;
    border-bottom: 4px solid red;

}

a:visited {
    color: gray;
}


.img-capa-principal {
    max-width: 400px;
    max-height: 550px;
}

.img-netflix {
    max-width: 128px;
    max-height: 64px;
    margin-top: 24px;
}

.alert {
    margin-top: 44px; 
    color: gray;
    margin-left: 700px;
    margin-right: 48px;

}

.img-avatar {
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
    margin-top: 32px;
    padding: 6px;

}

.img-stone { 
    width: 220px;
    height: 144px;
    margin-top: 12px;
}

.img-chamber {
    width: 220px;
    height: 144px;
    margin-left: 44px;
    margin-top: 12px;

}

.img-askaban {
    width: 220px;
    height: 144px;
    margin-top: 12px;
    float: right;

}

.area-browse {
    font-family: 'Oxygen';
    color: gray;
    margin-top: 40px;
    margin-left: 12px;
    letter-spacing: 1px;
}


.search {    
    width: 128px;
    height: 32px;
    font-family: 'Oxygen';
    font-size: 16px;
    color: gray;
    margin-top: 34px;
    background: #040404;
    border: 0cm;

}
.icon-search {
    color: gray;
    margin-left: 32px;
    margin-right: 3px;
}


.starring {
    margin-top: 32px;
    color: gray;
    letter-spacing: 1px;

}

.created, .genre {
    color: gray;
    margin-top: 18px;
    letter-spacing: 1px;

}

.txt-white {
    color: white;
    letter-spacing: 1px;
}

.title i{
    color: yellow;
    font-size: 20px;
    margin-bottom: 8px;

}

.avaliacao {
    display: inline-block;
    float: right;

}




