* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    width: 1500px;
    height: 800px;
    background: #000000;
    position: absolute;

}
.panel-top {
    width: 1200px;
    height: 128px;
    display: flex;
    margin-left: 144px;
}

.panel-general {
    width: 1200px;
    height: 400px;
    display: flex;
    margin-left: 144px;
}


.panel-left {
    width: 450px;
    height: 550px;
    display: flex;
    float: left;

}

.panel-right {
    width: 750px;
    height: 550px;

}

.panel-area-1 {
    width: 750px;
    height: calc(550px - 76.6%);
}

.panel-area-2 {
    width: 750px;
    height: calc(550px - 66.6%);

}

.panel-area-3 {
    width: 750px;
    height: calc(550px - 56.6%);

}

.title {
    color: white;
    font-family: 'Roboto'
}

.title-related {
    color: white;
    font-family: 'Oxygen';
}

.classificacao {
    font-size: 14px;
    font-family: 'Oxygen';
    color: gray;
    margin-top: 8px;
}

.menu {
    color: gray;
    list-style-type: none;
    text-decoration: none;
    margin-top: 48px;
    font-family: 'Oxygen';


}
.descricao {
    color: white;
    margin-top: 12px;
    font-family: 'Oxygen';

}


a:link {    
    color: gray;
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;

}
a:visited {
    color: gray;
}



.img-capa-principal {
    max-width: 400px;
    max-height: 500px;


}

.img-netflix {
    max-width: 128px;
    max-height: 64px;
    margin-top: 24px;
}

.img-stone { 
    width: 220px;
    height: 144px;
    float: left;
    margin-top: 12px;
    position: relative;
}

.img-chamber {
    width: 220px;
    height: 144px;
    margin-left: 44px;
    margin-top: 12px;

}

.img-askaban {
    width: 220px;
    height: 144px;
    float: right;
    margin-top: 12px;

}


.area-browse {
    color: gray;
    margin-top: 48px;
    margin-left: 12px;
}

.area-search {
    color: gray;
    margin-top: 46px;
    margin-left: 18px;
}

.starring {
    margin-top: 32px;
    color: gray;
}

.created {
    color: gray;
    margin-top: 18px;
}

.genre {
    color: gray;
    margin-top: 18px;
}

.txt-white {
    color: white;
}

.alert {
    float: right;
}

